/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1f1e42;
  --ifm-color-primary-dark: #1c1b3b;
  --ifm-color-primary-darker: #1a1a38;
  --ifm-color-primary-darkest: #16152e;
  --ifm-color-primary-light: #222149;
  --ifm-color-primary-lighter: #24234c;
  --ifm-color-primary-lightest: #282756;
  --ifm-background-color: #f3ddc3;
  --ifm-code-font-size: 95% !important;
  --ifm-heading-color: #222149;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /*--ifm-font-family-base: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;*/
  /*--ifm-font-family-monospace: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';*/
  /*--ifm-font-size-base: 90%;*/
}

[data-theme='dark'] {
  --ifm-color-primary: #f3ddc3;
  --ifm-color-primary-dark: #ecc89e;
  --ifm-color-primary-darker: #e8be8c;
  --ifm-color-primary-darkest: #dd9f55;
  --ifm-color-primary-light: #faf2e8;
  --ifm-color-primary-lighter: #fefcfa;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #201e43 !important;
  --ifm-background-surface-color: #201e43 !important;
  --ifm-heading-color: #faf2e8;
}

.docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-styles-module{
  /*border: none !important;*/
}