.powered-by-card-container {
	display: grid;
	gap: 2em;
	justify-content: center;
}

@media (max-width: 767px) {
	.powered-by-card-container {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.powered-by-card-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.powered-by-card-container {
		grid-template-columns: repeat(3, 1fr);
	}
}